<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <link rel="icon" type="image/x-icon" href="../images/Logo BK_vien trang.png">

    <link href="itemDescript.css" rel="stylesheet" type="text/css" />
    <link href="../Navbar/navbar.css" rel="stylesheet" type="text/css" />
    <link rel="import" href="../Navbar/navbar.html" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/721412f694.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="product-item">
      <div class="navbar-holder sticky-top"></div>
      <script src="../Navbar/navbarScript.js"></script>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5">
            <div class="product-image">
              <p>Home > Product</p>
              <div class="main-img">
                <img
                src="https://media.coolmate.me/uploads/August2021/4-0_98.jpg"
                alt="image"
                />
              </div>
            </div>
            <div class="addition-img">
              <img src="https://media.coolmate.me/uploads/August2021/4-0_98.jpg" alt="image"/>
              <img src="https://media.coolmate.me/uploads/August2021/4-2_11.jpg" alt="image">
              <img src="https://media.coolmate.me/uploads/August2021/4-1.jpg" alt="image">
              <img src="https://media.coolmate.me/uploads/August2021/6-3.jpg" alt="image">
              <img src="https://media.coolmate.me/uploads/August2021/1125_x_1275_(1).jpg" alt="image">
            </div>
          </div>
          
          <div class="col-lg-7">
            <div class="right-content">
              <h2 class="title-item">Mũ Bucket Hat thêu Be Cool!!!</h2>
              <p class="rating-star">
                5/5 <i class="fas fa-star"></i> <span>(Xem n đánh giá)</span>
              </p>
              <p class="item-price">169.000VND</p>
              <!-- <div class="select-size">
                <label for="select-size-item">Chọn size</label>
                <select name="sort-by" id="select-size-item">
                  <option value="title" selected="selected" disabled>Size</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="X">X</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                </select>
              </div>
              <div class="select-quantity">
                Chọn số lượng
                <div style="text-align: left;" class="quantity-section">
                  <div class="plus-qty-btn"><i class="fas fa-minus-circle"></i></button></div>
                  <input type="text" class="qty-buy" value="1" disabled>
                  <div class="minus-qty-btn"><i class="fas fa-plus-circle"></i></div>
                </div>
              </div>
              <div class="addtocart-btn">
                <button type="button" class="btn btn-primary">Add to cart <i class="fas fa-shopping-cart"></i></button>
              </div> -->
              <div class="descript-item">
                <h3>Chi tiết sản phẩm</h3>
                <p>Nếu bạn đã sở hữu những chiếc mũ lưỡi trai thuần nam tính hoặc những dáng mũ fedora lịch lãm, kiểu dáng mũ cao bồi cách điệu bụi bặm, 
                  và đang muốn tìm cho mình một chiếc mũ mang đến vẻ trẻ trung, năng động thì Bucket Hat chính là câu trả lời của bạn đây. Care & Share 
                  ra mắt phiên bản mũ Bucket Hat cùng với nhiều thiết kế ấn tượng nhưng không hề mất đi vẻ nam tính, đơn giản của bạn khi mang chiếc mũ này nhé! </p>
              </div>
              <button type="button" id="edit-itemBtn">Chỉnh sửa</button>
              
              <div id="editItem-modal" class="edit-item-modal">
                <div class="editItem-modal-content">
                  <div class="editItem-modal-header">
                    <span class="close-modal-edit">&times;</span>
                    <h2>Chỉnh sửa sản phẩm</h2>
                  </div>
                  <div class="editItem-modal-body">
                    <div class="row">
                      <label class="col-lg-4" for="id">
                        Id:
                      </label>
                      <div class="col-lg-8"><input type="number" name="id" placeholder="Nhập id sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4" for="name">
                        Tên sản phẩm:
                      </label>
                      <div class="col-lg-8"><input type="text" name="name" placeholder="Nhập tên sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4" for="price">
                        Giá:
                      </label>
                      <div class="col-lg-8"><input type="number" name="price" placeholder="Nhập giá của sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4" for="image-url">
                        Ảnh sản phẩm:
                      </label>
                      <div class="col-lg-8"><input type="text" name="image-url" placeholder="Nhập link ảnh sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4" for="description">
                        Mô tả:
                      </label>
                      <div class="col-lg-8"><input type="text" name="description" placeholder="Nhập mô tả sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4" for="remain">
                        Số lượng tồn kho:
                      </label>
                      <div class="col-lg-8"><input type="number" name="remain" placeholder="Nhập số lượng sản phẩm"></div>
                    </div>
                    <div class="row">
                      <label class="col-lg-4">
                        Loại:
                      </label>
                      <div class="col-lg-8">
                        <select>
                          <option selected disabled>Chọn loại</option>
                          <option value="shirt">Áo</option>
                          <option value="trousers">Quần</option>
                          <option value="accessories">Phụ kiện</option>
                        </select>
                      </div>
                    </div>
                    <div class="btn-conf-edit">
                      <button type="button">Xác nhận</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="bottom">
          <h2>Sản phẩm tương tự</h2>
          <div class="related-items">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
              <div class="col">
                <div class="card">
                  <a href="./itemDescript.html">
                    <img
                      src="https://media.coolmate.me/uploads/August2021/4-0_98.jpg"
                      class="card-img-top"
                      alt="card-grid-image"
                    />
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      100.000VND
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://media.coolmate.me/uploads/July2021/2_26.jpg"
                    class="card-img-top"
                    alt="card-grid-image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      200.000VND
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://media.coolmate.me/uploads/September2021/a56_51.jpg"
                    class="card-img-top"
                    alt="card-grid-image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      150.000VND
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://media.coolmate.me/uploads/October2021/Mau_1.1_(1).jpg"
                    class="card-img-top"
                    alt="card-grid-image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      50.000VND
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-rating">
            <div class="row">
              <div class="col-lg-3 star-numbers">
                <div class="sum-of-star">
                  5
                  <span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </span>
                </div>
                <div class="according-to">Theo n đánh giá</div>
              </div>
              <div class="col-lg-9">
                <p>Lọc đánh giá</p>
                <div class="filter-rating">
                  <span id="filter-rating-btn">
                    <button type="button" class="button-filter btn btn-primary current-btn" onclick="filterComment('all')">Tất cả</button>
                    <button type="button" class="button-filter btn btn-primary" onclick="filterComment('5')">5 <span><i class="fas fa-star"></i></span></button>
                    <button type="button" class="button-filter btn btn-primary" onclick="filterComment('4')">4 <span><i class="fas fa-star"></i></span></button>
                    <button type="button" class="button-filter btn btn-primary" onclick="filterComment('3')">3 <span><i class="fas fa-star"></i></span></button>
                    <button type="button" class="button-filter btn btn-primary" onclick="filterComment('2')">2 <span><i class="fas fa-star"></i></span></button>
                    <button type="button" class="button-filter btn btn-primary" onclick="filterComment('1')">1 <span><i class="fas fa-star"></i></span></button>
                  </span>
                  <div>
                    <select name="sort-with" id="sort-with">
                      <option value="show" selected="selected" disabled>Hiển thị</option>
                      <option value="high-first">Đánh giá cao nhất trước</option>
                      <option value="low-first">Đánh giá thấp nhất trước</option>
                    </select>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="comment-script">
            <div class="card">
              <div class="card-body">
                <div class="header-cmt">
                  <div>
                    <i class="fas fa-user-circle"></i>
                    <span>Thomas Edison</span> 
                    <div class="star-cus-rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  
                  <div>
                    <p>1/1/2021</p>
                  </div>
                </div>
                <div class="comment-content">
                  <div class="script-cmt">
                    <p>Trên cả toẹt dời</p>
                  </div>
                  <div><i class="fas fa-trash-alt"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="footer-holder"></div>
      <script src="../Navbar/footerScript.js"></script>
    </div>
    <script src="item.js"></script>
  </body>
</html>
