    
    .alert {
        padding: 20px;
        position: fixed !important;
        top: 70px;
        right: 10px;
        width: 250px;
        text-align: center;
        color: white;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        display: none;
    }
    .success{
        background-color: #04AA6D;
    }
    .fail{
        background-color: rgb(251, 30, 30);
    }