/* Hero */
.hero {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-container,
.hero .row1 {
  width: 100%;
}
/* .noneheight{
  height: unset !important;
} */

.hero .row1 {
  position: relative;
}

.hero .row1 img {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero .row1 .content {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.hero .row1 .content h1 {
  line-height: 1.2;
  font-size: 4rem;
  font-weight: 600;
  color: #94d2bd;
}

.hero .row1 .content span {
  color: #ffa62b;
}

.hero .row1 .content p {
  margin: 1rem 0 1rem;
  width: 70%;
  color: #bb3e03;
}

.hero .row1 .content a {
  display: inline-block;
  color: white;
  background-color: #ffa62b;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  margin-top: 2rem;
  text-decoration: none;
}

.hero .row1 .content a:hover {
  background-color: #16697a;
  transition: all 300ms ease-in-out;
}

.swiper-slide-active .content h1 {
  animation: moveBottom 1s ease-in-out;
}

.swiper-slide-active .content a {
  animation: moveTop 1s ease-in-out;
}

.swiper-slide-active .content p {
  animation: moveLeft 1s ease-in-out;
}

@keyframes moveBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero .arrows {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out;
}

.hero:hover .arrows {
  opacity: 1;
  visibility: visible;
}

.arrows .swiper-prev,
.arrows .swiper-next {
  position: absolute;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #ffa62b;
  cursor: pointer;
}

.arrows .swiper-prev {
  left: 20px;
}

.arrows .swiper-next {
  right: 20px;
}

@media (max-width: 700px) {
  .hero .row1 .content {
    left: 15px;
  }

  .hero .row1 .content h1 {
    font-size: 2.5rem;
  }
  .hero .row1 .content p {
    font-size: 1rem;
  }
  .hero .row1 .content p {
    width: 80%;
  }
  .hero .row1 .content a {
    margin-top: 1rem;
    padding: 0.3rem 1rem;
  }
}

/* Style shop collection */
.shop-collection h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
  color: #ffa62b;
}

.shop-collection .collection-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.shop-collection .shop-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 0;
}

.shop-collection .shop-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.shop-collection .shop-item .collection-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  z-index: 3;
}

.shop-collection .shop-item .collection-content h3 {
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #ffa62b;
  color: #fff;
  border-radius: 4rem;
  padding: 0.5rem 1.4rem;
  font-size: 1.5rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.shop-collection .shop-item .collection-content a {
  transition: all 300ms ease-in-out;
  font-size: 1.2rem;
  text-decoration: none;
  color: #16697a;
}

.shop-collection .shop-item .collection-content a:hover {
  color: #ffa62b;
}

.shop-collection .shop-item:hover .collection-content h3 {
  background-color: #16697a;
}

.shop-collection .shop-item:hover img {
  transform: scale(1.2);
}

.shop-collection .shop-item::after {
  text-align: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.shop-collection .shop-item:hover::after {
  visibility: visible;
  opacity: 1;
}

.feature-news .attractive-new {
  display: flex;
  justify-content: space-between;
}

.feature-news .attractive-new .card {
  width: fit-content;
  margin-right: 1rem;
}

.feature-news .attractive-new .card:last-child{
  margin-right: 0;
}

@media (max-width: 1200px) {
  .shop-collection .shop-item .collection-content h3 {
    border-radius: 4rem;
    padding: 0.5rem 1.4rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 996px) {
  .shop-collection .collection-layout {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-news .attractive-new{
    flex-direction: column;
  }
  .feature-news .attractive-new .card {
    margin-right: 0rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .shop-collection .collection-layout {
    grid-template-columns: 1fr;
  }
}

/* Style attractive news */
.feature-news h2 {
  text-align: center;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: #ffa62b;
}

/* PRODUCTS */
.featured {
  margin-bottom: 5rem;
}

.featured h2 {
  text-align: center;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: #ffa62b;
}

.featured .product {
  overflow: hidden;
}

.featured .product .img-container {
  position: relative;
  cursor: pointer;
}

.featured .product .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.featured .product .bottom {
  padding: 0.5rem;
  text-align: center;
}

.featured .product .bottom a {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.featured .product .bottom a:hover {
  color: #ffa62b;
}

.featured .product .bottom span {
  color: #ffa62b;
  font-size: 1.5rem;
  font-weight: 600;
}

.featured .product .addToCart {
  position: absolute;
  right: 0;
  bottom: 1rem;
  background-color: #ffa62b;
  color: #fff;
  border-radius: 50%;
  padding: 1.2rem 1.4rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.featured .product:hover .addToCart {
  border-radius: 1rem 0 0 1rem;
}

.featured .product .addToCart:hover {
  background-color: #16697a;
}

.featured .product i {
  transition: all 300ms ease-in-out;
}

.featured {
  position: relative;
}

.featured .arrows {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 100%;
  color: #16697a;
}

.featured .custom-next,
.featured .custom-prev {
  position: absolute;
  padding: 1rem 1rem;
  cursor: pointer;
}

.featured .custom-prev {
  left: 20px;
}

.featured .custom-next {
  right: 20px;
}

@media (max-width: 996px) {
  .prodouct-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .prodouct-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 567px) {
  .prodouct-layout {
    grid-template-columns: 1fr;
  }
}