/* Style add item modal */
.add-item-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close-modal-add {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: baseline;
}

.close-modal-add:hover,
.close-modal-add:focus {
  color: #ffa62b;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.addItem-modal-header {
  padding: 3px 16px;
  background-color: #16697a;
  color: white;
}

.addItem-modal-header h2 {
  text-align: center;
  padding-top: 0.5rem;
}

/* Modal Body */
.addItem-modal-body {
  padding: 10px 16px;
}

.addItem-modal-body i {
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffa62b;
}

.addItem-modal-body input, .addItem-modal-body textarea, .addItem-modal-body select{
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ffa62b;
  border-radius: 0.2rem;
  outline: none;
  margin-bottom: 0.5rem;
}

.addItem-modal-body select{
  width: 10rem !important;
}

.addItem-modal-body .btn-conf-add {
  text-align: center;
}

.addItem-modal-body button {
  padding: 0.5rem 1rem;
  background-color: #ffa62b;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
}

.addItem-modal-body button:hover {
  background-color: #16697a;
  transition: all .3s ease-in-out;
}

/* Modal Content */
.addItem-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/*****************************************/

/* Style list product */
.company-product .list-product {
  margin: 2rem 0;
}

.company-product .card {
  border: none;
  margin: 0 1rem;
}

.company-product .card .card-body {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}

/* Style filter bar and sort */
.company-product .header-product {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.company-product .header-product .form-sort form {
  display: flex;
  margin-right: 3rem;
  margin-top: 0.5rem;
  align-items: center;
}

.company-product .header-product .item {
  margin-right: 1rem;
}

.company-product .header-product form select {
  padding: 0.5rem;
  width: 7rem;
  border: 1px solid #f2f2f2;
  outline: none;
}

.company-product .header-product .form-sort .sort-btn {
  margin-top: 0;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  background-color: #ffa62b;
  color: #fff;
  transition: all 300ms ease-in-out;
  align-items: baseline;
}

.company-product .header-product form button:hover {
  background-color: #16697a;
}
/*****************************************/
.company-product .header-product .form-sort button {
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  background-color: #ffa62b;
  border: none;
  border-radius: 2rem;
  color: #fff;
}

.company-product .header-product .form-sort button:hover {
  background-color: #16697a;
  transition: all .3s ease-in-out;
}
/*****************************************/
.company-product .header-product .filterBar {
  display: flex;
  justify-content: center;
  margin-left: 10rem;
}

.company-product .filterDiv {
  display: none;
}

.company-product .show {
  display: block;
}

.company-product .tab-filter {
  border: none;
  padding: 12px 5px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 8rem;
}

.company-product .tab-filter:hover {
  border-bottom: 4px solid #ffa62b;
  transition: .3s;
}

.company-product .tab-filter.active-filter {
  border-bottom: 4px solid #ffa62b;
}

.company-product .card .btn {
    background-color: #ffa62b;
    border-color: #ffa62b;
    border-radius: 1rem;
}

.company-product .card .btn:hover {
    background-color: #16697a;
    border-color: #16697a ;
}

/* Style quantity plus and minus */
.company-product .list-product .quantity-section {
  display: flex;
}

.company-product .list-product .quantity-section input {
  width: 2rem;
  border: none;
  text-align: center;
  background-color: #fff;
}

.company-product .list-product .quantity-section .fas{
  font-size: 2.2rem;
  color: #ffa62b;
  cursor: pointer;
}

.company-product .list-product .quantity-section .fas:hover {
  color: #16697a;
}

/* Style pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--black);
  font-size: 1rem;
  border: 1px solid gray;
  margin-right: 0.5rem;
  cursor: pointer;
}

.pagination span.last {
  width: 5rem;
  border-radius: 3rem;
}

.pagination span:hover {
  border: 1px solid #16697a;
  background-color: #16697a;
  color: #fff;
}

@media (max-width: 1200px) {
  .company-product .header-product {
    flex-direction: column;
  }

  .company-product .header-product form {
    justify-content: center;
    margin-left: 2rem;
  }

  .company-product .header-product .filterBar {
    margin-left: 0;
  }
/*****************************************/
  .company-product .header-product .form-sort {
    text-align: center;
  }
  .company-product .header-product .form-sort button {
    margin-right: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .company-product .tab-filter {
    width: 6rem;
    font-size: 1rem;
  }

  .company-product .header-product form a {
    padding: 0.5rem 1rem;
  }

  .company-product .header-product form select {
    width: 5rem;
  }
}
