<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <link rel="icon" type="image/x-icon" href="../images/Logo BK_vien trang.png">

    <link href="product.css" rel="stylesheet" type="text/css" />
    <link href="../Navbar/navbar.css" rel="stylesheet" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/721412f694.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="company-product">

      <!-- Navigation -->
      <div class="navbar-holder sticky-top"></div>
      <script src="../Navbar/navbarScript.js" index='2'></script>
      
      <!-- Filter bar and sort -->
      <div class="header-product">
        <div id="myBtnContainer" class="filterBar">
          <div class="tab-filter active-filter" onclick="filterSelection('all')"> All</div>
          <div class="tab-filter" onclick="filterSelection('shirt')"> Shirt</div>
          <div class="tab-filter" onclick="filterSelection('trousers')"> Trousers</div>
          <div class="tab-filter" onclick="filterSelection('accessories')"> Accessories</div>
        </div>
  
        <div class="form-sort">
          <button type="button" id="add-itemBtn">Thêm sản phẩm</button>
        </div>
        <div id="addItem-modal" class="add-item-modal">
          <div class="addItem-modal-content">
            <div class="addItem-modal-header">
              <span class="close-modal-add">&times;</span>
              <h2>Thêm sản phẩm</h2>
            </div>
            <div class="addItem-modal-body">
              <div class="row">
                <label class="col-lg-4" for="id">
                  Id:
                </label>
                <div class="col-lg-8"><input type="number" name="id" placeholder="Nhập id sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4" for="name">
                  Tên sản phẩm:
                </label>
                <div class="col-lg-8"><input type="text" name="name" placeholder="Nhập tên sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4" for="price">
                  Giá:
                </label>
                <div class="col-lg-8"><input type="number" name="price" placeholder="Nhập giá của sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4" for="image-url">
                  Ảnh sản phẩm:
                </label>
                <div class="col-lg-8"><input type="text" name="image-url" placeholder="Nhập link ảnh sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4" for="description">
                  Mô tả:
                </label>
                <div class="col-lg-8"><input type="text" name="description" placeholder="Nhập mô tả sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4" for="remain">
                  Số lượng tồn kho:
                </label>
                <div class="col-lg-8"><input type="number" name="remain" placeholder="Nhập số lượng sản phẩm"></div>
              </div>
              <div class="row">
                <label class="col-lg-4">
                  Loại:
                </label>
                <div class="col-lg-8">
                  <select>
                    <option selected disabled>Chọn loại</option>
                    <option value="shirt">Áo</option>
                    <option value="trousers">Quần</option>
                    <option value="accessories">Phụ kiện</option>
                  </select>
                </div>
              </div>
              <div class="btn-conf-add">
                <button type="button">Thêm</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- Main content -->
      <div class="container-fluid">
        <div class="list-product">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col filterDiv accessories">
              <div class="card">
                <a href="./itemDescript.html">
                  <img
                    src="https://media.coolmate.me/uploads/August2021/4-0_98.jpg"
                    class="card-img-top"
                    alt="card-grid-image"
                  />
                </a>
                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <div style="text-align: right">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='../Item/itemDescript.html'">
                      Chỉnh sửa
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col filterDiv shirt">
              <div class="card">
                <img
                  src="https://media.coolmate.me/uploads/July2021/2_26.jpg"
                  class="card-img-top"
                  alt="card-grid-image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <div style="text-align: right">
                    <button type="button" class="btn btn-primary">
                      Chỉnh sửa
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col filterDiv trousers">
              <div class="card">
                <img
                  src="https://media.coolmate.me/uploads/September2021/a56_51.jpg"
                  class="card-img-top"
                  alt="card-grid-image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <div style="text-align: right">
                    <button type="button" class="btn btn-primary">
                      Chỉnh sửa
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col filterDiv shirt">
              <div class="card">
                <img
                  src="https://media.coolmate.me/uploads/October2021/Mau_1.1_(1).jpg"
                  class="card-img-top"
                  alt="card-grid-image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <div style="text-align: right">
                    <button type="button" class="btn btn-primary">
                      Chỉnh sửa
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PAGINATION -->
        <ul class="pagination">
          <span>1</span>
          <span>2</span>
          <span class="icon">››</span>
          <span class="last">Last »</span>
        </ul>
      </div>

      <div class="footer-holder"></div>
      <script src="../footer/footerScript.js"></script>
    </div>
    <script src="product.js"></script>
  </body>
</html>
