<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Dan">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Assignment</title>
	<link
      rel="icon"
      type="image/x-icon"
      href="../images/Logo BK_vien trang.png"
    />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="news.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link type="text/css" rel="stylesheet" href="style.css">
	<link href="../Navbar/navbar.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
	<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
	  <script src="https://use.fontawesome.com/721412f694.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
</head>

<body>
<div class="navbar-holder sticky-top"></div>
<script src="../Navbar/navbarScript.js" index='1'></script>
<div class="container my-5">
	<section class="pb-4 mt-3 mb-5">
		<div class="row gx-5">
		  	<div class="card col-md-6 mb-4">
				<div class="card-header bg-white text-center py-3">
					<h5 class="mb-0 fw-bold">Đánh giá của khách hàng</h5>
					<h1 class="text-warning">85.3</h1>
				</div>
				<div class="progress mt-1" style="height: 25px">
					<div class="progress-bar bg-secondary" role="progressbar" style="width: 87%; ">
						<div class="d-flex justify-content-between ps-2">Điểm uy tín<div class="pe-2" style="display: inline-block !important;">87%</div></div>
					</div>
				</div>
				<div class="progress mt-1" style="height: 25px">
					<div class="progress-bar bg-secondary" role="progressbar" style="width: 78%; ">
						<div class="d-flex justify-content-between ps-2">Điểm phù hợp<div class="pe-2" style="display: inline-block !important;">78%</div></div>
					</div>
				</div>
				<div class="progress mt-1 mb-2" style="height: 25px">
					<div class="progress-bar bg-secondary" role="progressbar" style="width: 91%;">
						<div class="d-flex justify-content-between ps-2">Điểm xu hướng<div class="pe-2" style="display: inline-block !important;">91%</div></div>
					</div>
				</div>
		  	</div>
  
		  	<div class="col-md-6 mb-4">
				<section>
					<div class="card">
						<div class="card-header bg-white text-center py-3">
							<h5 class="mb-2 text-warning">CHÚNG TÔI LẮNG NGHE BẠN! </h5>
						</div>
		
						<div class="card-body">
							<p>
								Với chúng tôi, khách hàng là người bạn giúp chúng tôi hiện thực hoá giấc mơ 
								được đồng hành cùng các bạn trong cuộc sống hằng ngày, 
								hiểu bạn và đem lại cho bạn những gì tốt nhất!
								Chúng tôi luôn trân trọng và mong đợi nhận
								được mọi ý kiến đóng góp để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.
								
							</p>
						</div>	
					</div>
				</section>
			</div>
		</div>
	</section>
	<section>
		<div class="testimonials-clean">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">BÌNH LUẬN CỦA KHÁCH HÀNG</h2>
				</div>
				<div class="row people">
					<div class="col-md-6 col-lg-4 item">
						<div class="box">
							<p class="description">
								Cảm ơn coolmate đã tạo cơ hội cho mình được trải nghiệm sản phẩm với
								mức giá ưu đãi, sản phẩm cực kì chất lượng, từ box
								cho đến phần nhìn rồi đến lúc mặc, cực kì thoải mái, chất lượng vượt
								mức giá và chắc chắn không hề đắt với những người đã đi làm.
							.</p>
						</div>
						<div class="author"><img class="rounded-circle" src="assets/img/1.jpg">
							<h5 class="name">Hoàng Quang Trung</h5>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 item">
						<div class="box">
							<p class="description">
								Sản phẩm rất ưng ý. Đóng gói chuyên nghiệp. Phục Vụ
								chuyên nghiệp là điều quan trọng nhất, thái độ phục vụ tốt sẽ làm
								khách hàng hài lòng, và sẽ giới thiệu cho nhiều người.								
							</p>
							<p>Chúc các bạn thành công hơn nữa..</p>
						</div>
						<div class="author"><img class="rounded-circle" src="assets/img/3.jpg">
							<h5 class="name">Nguyễn Trung Quân</h5>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 item">
						<div class="box">
							<p class="description">
								Mình đã mua set này về mặc thấy rất thích. Vải xịn, mặc thoáng mát,
								không nóng nực. Sợi vải mềm, co giãn tốt. Còn quần thì dày, cho cảm
								giác cao cấp, màu đẹp nữa. Đặc biệt giao cực nhanh luôn, hàng đóng
								gọi đẹp và chỉn chu, mình rất thích. 
							</p>
						</div>
						<div class="author"><img class="rounded-circle" src="assets/img/2.jpg">
							<h5 class="name">Tạ Đình Phòng</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="footer-holder"></div>
<script src="../Navbar/footerScript.js"></script>

<script src="news.js"></script>
</body>
</html>
